@import url(https://fonts.googleapis.com/css?family=Righteous);

body {
  background-color: #111111
}


div.time {
  color: #EEEEEE;
  position: fixed;
  font-family: "Righteous", cursive;
  font-size: 4em;
  font-weight: 900;
  top: 10%;
  left: 5%;
}

div.date {
  color: #eeeeee;
  position: fixed;
  font-family: "Righteous", cursive;
  top: 20%;
  left:5.3%;
  font-size: 2em;
  font-weight: 500;
  text-align: justify;
  margin: auto;
}

#intro {
  color: #EEEEEE;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Righteous", cursive;
  font-size: 10em;
  font-weight: 900;
}

.weather {
  position: fixed;
  top: 10%;
  left:85%;
}

#temp {
  color: #EEEEEE;
  font-family: "Righteous", cursive;
  font-weight: 700;
  font-size: 2em;
  position: absolute;
  right: 0;
}

#parent {
  position: relative;
}

#weather {
  position: absolute;
  left: 0;
}

#calendar {
  color: #EEEEEE;
  font-family: "Righteous", cursive;
  font-size: 1.2em;
  position: fixed;
  top: 80%;
  left: 5%;
  border-color: #EEEEEE;
  border: medium;
}
#push_bullet {
 color: #EEEEEE;
 font-family: "Righteous", cursive;
 font-size: 1.2em;
 position: fixed;
 top: 80%;
 right: 5%;
 border-color: #EEEEEE;
 border: medium;
}

