@import url(https://fonts.googleapis.com/css?family=Righteous);

body {
  background-color: #111111
}
#parent_time {
  position: fixed;
  top: 10%;
  left:5%;
  text-align: center;
  color: #EEEEEE;
  position: fixed;
  font-family: "Righteous", cursive;
}
#video {
  visibility:hidden;
}

#time {
  font-size: 4em;
  font-weight: 900;
}

#date {
  font-size: 2em;
  font-weight: 500;
}



#intro {
  color: #EEEEEE;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Righteous", cursive;
  font-size: 10em;
  font-weight: 900;
}

.weather {
  position: fixed;
  top: 10%;
  left:80%;
  color: #EEEEEE

}
#temp {
  color: #EEEEEE;
  font-family: "Righteous", cursive;
  font-weight: 700;
  position: relative;
  left:-10%;
  float:left;
  font-size: 4em;
}
#summary {
  color: #EEEEEE;
  font-family: "Righteous", cursive;
  font-weight: 500;
  position: absolute;
  top: 55%;
  left:3%;
  font-size: 2em;
}
#weather {
  position: relative;
  color: #EEEEEE;
  left :8%;
}

#calendar {
  color: #EEEEEE;
  font-family: "Righteous", cursive;
  font-size: 1.2em;
  position: fixed;
  top: 80%;
  left: 5%;
  border-color: #EEEEEE;
  border: medium;
}
#push_bullet {
  color: #EEEEEE;
  font-family: "Righteous", cursive;
  font-size: 1.2em;
  position: fixed;
  top: 80%;
  right: 5%;
  border-color: #EEEEEE;
  border: medium;
}

